*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

li {
    list-style: none
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: top
}

button,
input,
select,
textarea {
    font: inherit
}

address {
    font-style: normal
}

html {
    font-size: 1rem;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth
}

body {
    background: #ffffff;
    color: #6a7081;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.7
}

a {
    color: #343a41;
    text-decoration: none;
    -webkit-transition: all 0.14s ease-out;
    transition: all 0.14s ease-out
}

a:hover {
    color: #2a8ad8
}

a:active {
    color: #2a8ad8
}

a:focus {
    color: #2a8ad8
}

p {
    margin-top: 1.0666666667rem
}

h1,
h2,
h3,
h4 {
    color: #343a41;
    font-weight: 700;
    letter-spacing: -0.03rem;
    line-height: 1.2
}

.h1,
h1 {
    font-size: 1.423828125rem;
    line-height: 1.1;
    letter-spacing: -0.05rem
}

@media screen and (min-width:20rem) {
    .h1,
    h1 {
        font-size: calc(1.423828125rem + 3.199798882 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .h1,
    h1 {
        font-size: 4.623627007rem
    }
}

.h2,
h2 {
    font-size: 1.265625rem
}

@media screen and (min-width:20rem) {
    .h2,
    h2 {
        font-size: calc(1.265625rem + 1.300159514 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .h2,
    h2 {
        font-size: 2.565784514rem
    }
}

.h3,
h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.0666666667rem
}

@media screen and (min-width:20rem) {
    .h3,
    h3 {
        font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .h3,
    h3 {
        font-size: 1.125rem
    }
}

.h4,
h4 {
    font-size: 1rem
}

@media screen and (min-width:20rem) {
    .h4,
    h4 {
        font-size: calc(1rem + -0.1111111111 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .h4,
    h4 {
        font-size: 0.8888888889rem
    }
}

ul {
    list-style: none
}

pre {
    margin: calc(1.0666666667rem + 0.25vw) 0 0;
    padding: 1.6rem 3.2rem;
    white-space: pre-wrap;
    word-wrap: break-word
}

small {
    font-size: 0.7901234568rem
}

b,
strong {
    font-weight: 600
}

figcaption {
    color: #9ea2ad;
    font-weight: 400;
    font-size: 0.7901234568rem;
    margin-top: 2.1333333333rem
}

.btn,
[type=button],
[type=submit],
button {
    background: #42a5f5;
    border: 1px solid #42a5f5;
    border-radius: 30px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: 400 0.8888888889rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0.6933333333rem 1.3333333333rem;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.24s ease;
    transition: all 0.24s ease;
    overflow: hidden;
    will-change: transform
}

@media (max-width:19.9375em) {
    .btn,
    [type=button],
    [type=submit],
    button {
        width: 100%
    }
}

@media (max-width:37.4375em) {
    .btn,
    [type=button],
    [type=submit],
    button {
        margin-bottom: 0.5333333333rem
    }
}

.btn:active,
.btn:focus,
.btn:hover,
[type=button]:active,
[type=button]:focus,
[type=button]:hover,
[type=submit]:active,
[type=submit]:focus,
[type=submit]:hover,
button:active,
button:focus,
button:hover {
    background: #2a8ad8;
    border-color: #2a8ad8;
    color: #ffffff
}

.btn:hover,
[type=button]:hover,
[type=submit]:hover,
button:hover {
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none!important
}

@media (min-width:27.5em) {
    .btn+.btn,
    .btn+[type=button],
    .btn+[type=submit],
    .btn+button,
    [type=button]+.btn,
    [type=button]+[type=button],
    [type=button]+[type=submit],
    [type=button]+button,
    [type=submit]+.btn,
    [type=submit]+[type=button],
    [type=submit]+[type=submit],
    [type=submit]+button,
    button+.btn,
    button+[type=button],
    button+[type=submit],
    button+button {
        margin-left: 0.8rem
    }
}

.btn.white,
.white[type=button],
.white[type=submit],
button.white {
    background: #ffffff;
    border-color: #ffffff;
    color: #6a7081
}

.btn.white>svg,
.white[type=button]>svg,
.white[type=submit]>svg,
button.white>svg {
    fill: none;
}

.btn.green,
.green[type=button],
.green[type=submit],
button.green {
    background: #5cb884;
    border-color: #5cb884
}

.btn.gray,
.gray[type=button],
.gray[type=submit],
button.gray {
    background: #6a7081;
    border-color: #6a7081
}

.btn.yelow,
.yelow[type=button],
.yelow[type=submit],
button.yelow {
    background: #FFC439;
    border-color: #FFC439
}

.btn.pink,
.pink[type=button],
.pink[type=submit],
button.pink {
    background: linear-gradient(-45deg, #FA5865, #FC4C7F);
    border-color: transparent
}

.btn.outline,
.outline[type=button],
.outline[type=submit],
button.outline {
    background: none;
    border: 1px solid #dbdfe4;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #6a7081
}

.btn.outline:hover,
.outline[type=button]:hover,
.outline[type=submit]:hover,
button.outline:hover {
    border-color: #9ea2ad;
    color: #343a41
}

.btn.outline.white,
.outline.white[type=button],
.outline.white[type=submit],
button.outline.white {
    border-color: #ffffff;
    color: #ffffff;
    fill: #ffffff
}

.btn.outline.white>svg,
.outline.white[type=button]>svg,
.outline.white[type=submit]>svg,
button.outline.white>svg {
    fill: #ffffff
}

.btn.with-icon,
.with-icon[type=button],
.with-icon[type=submit],
button.with-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap
}

@media (max-width:37.4375em) {
    .btn.with-icon,
    .with-icon[type=button],
    .with-icon[type=submit],
    button.with-icon {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

.btn>svg,
[type=button]>svg,
[type=submit]>svg,
button>svg {
    fill: none;
    margin-right: 0.8rem;
    vertical-align: middle
}

.btn.github>svg,
.github[type=button]>svg,
.github[type=submit]>svg,
button.github>svg {
    fill: #6a7081
}

[type=button],
[type=submit],
button {
    -webkit-appearance: none;
    -moz-appearance: none
}

fieldset {
    border: none;
    margin: 0 0 3.2rem
}

fieldset>legend {
    color: #343a41;
    font-weight: 400;
    font-size: 1rem
}

@media screen and (min-width:20rem) {
    fieldset>legend {
        font-size: calc(1rem + 0.423828125 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    fieldset>legend {
        font-size: 1.423828125rem
    }
}

legend {
    font-weight: 700
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1.0666666667rem 0.2666666667rem 0
}

option {
    font-weight: 400
}

[type=email],
[type=file],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url],
select,
textarea {
    background-color: #ffffff;
    border: 2px solid #dbdfe4;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    padding: 0.5866666667rem 0.8rem;
    width: 100%;
    -webkit-transition: all 0.24s ease;
    transition: all 0.24s ease;
    -webkit-appearance: none;
    -moz-appearance: none
}

@media (min-width:37.5em) {
    [type=email],
    [type=file],
    [type=number],
    [type=password],
    [type=search],
    [type=tel],
    [type=text],
    [type=url],
    select,
    textarea {
        width: auto
    }
}

[type=email]:focus,
[type=file]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 0 0 1px #dbdfe4;
    box-shadow: inset 0 0 0 1px #dbdfe4
}

input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute
}

input[type=checkbox]+label,
input[type=radio]+label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
    background-color: #ffffff;
    border: 2px solid #dbdfe4;
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-right: 0.8rem;
    vertical-align: middle;
    text-align: center;
    width: 1.6rem
}

input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23343a41'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%;
    border-color: #FFC439;
    -webkit-box-shadow: inset 0 0 2px #FFC439;
    box-shadow: inset 0 0 2px #FFC439
}

select {
    max-width: 100%;
    width: auto;
    position: relative
}

select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3.2rem
}

textarea {
    border-radius: 6px;
    display: block;
    overflow: auto;
    resize: vertical;
    max-width: 100%
}

.promo {
    background: #f7f8fb url("https://marketplace.getpublii.com/wp-content/themes/publii/images/christmas_bg.svg");
    background-position: 0 10%;
    background-size: 400px;
    height: 3.6rem;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.promo__lg {
    display: none;
    color: #1c3761;
    font-weight: 600;
    margin: 0;
    padding: 2rem 1rem;
    text-align: center
}

.promo__lg span {
    background: rgba(255, 255, 255, 0.7);
    padding: 0.5333333333rem
}

@media (min-width:56.25em) {
    .promo__lg {
        border-radius: 50%;
        display: block
    }
    .promo__lg span {
        background: rgba(255, 255, 255, 0.7);
        padding: 0.5333333333rem
    }
    .promo__lg .btn,
    .promo__lg [type=button],
    .promo__lg [type=submit],
    .promo__lg button {
        background-color: #e20715;
        border-color: #e20715;
        font-weight: 700;
        padding: 0.5333333333rem 1.3333333333rem;
        margin-left: 1rem;
        text-transform: uppercase
    }
}

.promo__sm {
    display: none;
    line-height: 1.2
}

@media (max-width:56.1875em) {
    .promo__sm {
        color: #1c3761;
        font-weight: 600;
        margin: 0;
        padding: 2rem 1rem;
        text-align: center;
        display: block
    }
    .promo__sm span {
        background: rgba(255, 255, 255, 0.7);
        padding: 0.5333333333rem
    }
    .promo__sm>a {
        color: #ef5350;
        text-decoration: underline
    }
}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    opacity: 1;
    height: 5.3333333333rem;
    /* padding: 0 2rem; */
    position: absolute;
    top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: background 0.5s, color 0.1s, -webkit-transform 0.5s 0.5s;
    transition: background 0.5s, color 0.1s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, background 0.5s, color 0.1s;
    transition: transform 0.5s 0.5s, background 0.5s, color 0.1s, -webkit-transform 0.5s 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 999
}

@media (min-width:56.25em) {
    .header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between padding: 0 2rem;
    }
}

.header.separator {
    border-bottom: 1px solid #dbdfe4
}

.header.is-visible {
    border: none;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 1px rgba(0, 0, 0, 0.04);
    opacity: 1;
    position: fixed;
    top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s;
    transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s, -webkit-transform 0.3s;
    width: 100%
}

.header.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, -86px);
    transform: translate(0, -86px);
    -webkit-transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
    transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s
}

@media (max-width:56.1875em) {
    .header a.btn:not(.bag):not(.sign-in),
    .header a[type=button]:not(.bag):not(.sign-in),
    .header a[type=submit]:not(.bag):not(.sign-in) {
        display: none!important
    }
}

.header--with-promo {
    top: 3.6rem
}

.logo {
    position: relative;
    z-index: 999
}

.logo>svg {
    fill: #343a41;
    max-height: 2rem;
    max-width: 5rem;
    vertical-align: middle
}

@media (min-width:56.25em) {
    .github-btn {
        margin-left: 1.0666666667rem
    }
}

.github-btn:hover {
    -webkit-transform: translate(0);
    transform: translate(0)
}

.github-btn:hover>svg {
    fill: #343a41
}

.github-btn>svg {
    fill: #42a5f5;
    -webkit-transition: all 0.24s ease;
    transition: all 0.24s ease
}

.navbar {
    margin-left: auto
}

.navbar-menu {
    margin: 0;
    display: none;
    padding: 0
}

@media (max-width:56.1875em) {
    .navbar-menu {
        border-top: 1px solid transparent;
        font-size: 1.265625rem
    }
}

@media (min-width:56.25em) {
    .navbar-menu {
        display: block
    }
}

.navbar-menu li {
    color: #ffffff;
    list-style: none
}

@media (max-width:56.1875em) {
    .navbar-menu li {
        padding: 0
    }
}

@media (min-width:56.25em) {
    .navbar-menu li {
        display: inline-block;
        font-size: 0.9375rem;
        padding: 0;
        position: relative
    }
}

.navbar-menu li:hover,
.navbar-menu li[aria-expanded=true] {
    cursor: pointer
}

@media (min-width:56.25em) {
    .navbar-menu li:hover>ul,
    .navbar-menu li[aria-expanded=true]>ul {
        opacity: 1;
        display: block;
        will-change: transform
    }
    .navbar-menu li:hover>ul li,
    .navbar-menu li[aria-expanded=true]>ul li {
        display: block
    }
}

.navbar-menu li a,
.navbar-menu li span {
    color: #6a7081;
    display: block;
    padding: 0.8rem 2rem
}

@media (min-width:56.25em) {
    .navbar-menu li a,
    .navbar-menu li span {
        height: 5.3333333333rem;
        line-height: 5.3333333333rem;
        padding: 0 0.8rem
    }
}

.navbar-menu li a:hover,
.navbar-menu li span:hover {
    color: #343a41
}

.navbar-menu li span {
    cursor: default
}

.navbar-menu.is-visible {
    background: #ffffff;
    display: block;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    margin-top: 5.3333333333rem;
    padding-top: 1.6rem;
    -webkit-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

@media (max-width:56.1875em) {
    .navbar-submenu,
    .navbar .sub-menu {
        margin: 0
    }
}

@media (min-width:56.25em) {
    .navbar-submenu,
    .navbar .sub-menu {
        background: #ffffff;
        border-radius: 6px;
        -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
        display: none;
        left: auto;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 5rem;
        min-width: 10rem;
        z-index: 2000;
        white-space: nowrap;
        z-index: 1;
        overflow: hidden
    }
    .navbar-submenu li,
    .navbar .sub-menu li {
        border-bottom: 1px solid #eee;
        font-weight: normal;
        white-space: nowrap;
        margin: 0;
        padding: 0
    }
    .navbar-submenu li>a,
    .navbar .sub-menu li>a {
        color: #6a7081;
        display: block;
        height: auto;
        line-height: inherit;
        padding: 0.7466666667rem 1.6rem;
        border-bottom: 1px solid #f7f8fb
    }
}

@media (min-width:56.25em) and (min-width:56.25em) {
    .navbar-submenu li>a,
    .navbar .sub-menu li>a {
        font-size: 0.9375rem
    }
}

@media (min-width:56.25em) {
    .navbar-submenu li>a:hover,
    .navbar .sub-menu li>a:hover {
        background: #f7f8fb
    }
}

.navbar-toggle {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    display: block;
    padding: 0;
    position: absolute;
    right: 4%;
    height: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%)!important;
    transform: translate(0, -50%)!important;
    width: 2.8rem;
    z-index: 3
}

@media (min-width:56.25em) {
    .navbar-toggle {
        display: none
    }
}

.navbar-toggle:focus,
.navbar-toggle:hover {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

.navbar-toggle>svg {
    fill: #343a41;
    margin: 0.5rem 0;
    vertical-align: middle
}

.has-submenu:hover>a,
.has-submenu:hover>span {
    color: #343a41
}

@media (max-width:56.1875em) {
    .hidden-item>span {
        display: none!important
    }
}

@media (max-width:56.1875em) {
    .section {
        padding: 3.7333333333rem 2rem;
        text-align: center
    }
}

@media (min-width:56.25em) {
    .section {
        padding: calc(5.3333333333rem + 2vw) 2rem
    }
}

.section.gray {
    background: #f7f8fb
}

.section.pink {
    background: linear-gradient(-45deg, #FA5865, #FC4C7F);
    color: #ffffff
}

.section.pink a:not(.btn):not([type=button]):not([type=submit]):not(button),
.section.pink h1,
.section.pink h2 {
    color: #ffffff
}

.section.blue {
    background: #42a5f5;
    color: #ffffff
}

.section.blue a:not(.btn):not([type=button]):not([type=submit]):not(button),
.section.blue h1,
.section.blue h2 {
    color: #ffffff
}

.section.dark {
    background: #202127;
    color: #9ea2ad
}

.section.dark a:not(.btn):not([type=button]):not([type=submit]):not(button),
.section.dark h2,
.section.dark h3 {
    color: #ffffff
}

.section.border {
    border-top: 1px solid #dbdfe4
}

.section-desc {
    margin-top: 1.6rem;
    margin-bottom: calc(3.2rem + 2vw);
    max-width: 52rem
}

@media (min-width:37.5em) {
    .section-desc {
        font-size: 1.125rem
    }
}

.section-desc.small {
    margin-bottom: calc(1.6rem + 1.5vw)
}

.inner {
    margin: 0 auto;
    max-width: 83.2rem
}

@media (min-width:37.5em) {
    .inner.center {
        text-align: center
    }
    .inner.center .section-desc {
        margin-left: auto;
        margin-right: auto
    }
}

.shadow {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15)
}

.hero {
    background: -webkit-gradient(linear, left top, left bottom, from(#1a83e4), to(#42a5f5))!important;
    background: linear-gradient(#1a83e4 0%, #42a5f5 100%)!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5.3333333333rem;
    margin-bottom: calc(10rem - 3.7333333333rem);
    text-align: center
}

@media (min-width:56.25em) {
    .hero {
        margin-bottom: calc(20rem - (5.3333333333rem + 2vw));
        padding: calc(5.3333333333rem + 2vw) 2rem
    }
}

@media (max-width:37.4375em) {
    .hero h1 br {
        display: none
    }
}

@media (min-width:37.5em) {
    .hero h1 {
        padding-top: 2vh
    }
}

@media (min-width:56.25em) {
    .hero h1 {
        padding-top: 5vh
    }
}

@media (min-width:56.25em) and (max-width:99.9375em) {
    .hero h1 {
        max-width: 80%;
        margin: auto
    }
}

.hero-desc {
    font-weight: 400;
    margin: calc(2.1333333333rem + 0.5vw) auto calc(2.1333333333rem + 1vw);
    line-height: 1.5;
    max-width: 58ch;
    font-size: 1.125rem
}

@media screen and (min-width:20rem) {
    .hero-desc {
        font-size: calc(1.125rem + 0.4768066406 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .hero-desc {
        font-size: 1.6018066406rem
    }
}

.hero-image {
    margin: 2.1333333333rem auto -10rem
}

@media (min-width:56.25em) {
    .hero-image {
        margin: calc(2.1333333333rem + 2vw) auto -20rem
    }
}

.hero-version {
    color: rgba(255, 255, 255, 0.75)!important;
    margin: 0.8rem 0
}

.hero-new {
    font-size: 0.8888888889rem;
    display: inline-block;
    margin-top: 0.8rem;
    position: relative
}

.hero-new:after {
    border-bottom: 1px solid #ffffff;
    content: "";
    display: block;
    -webkit-transition: all 0.36s cubic-bezier(0.17, 0.67, 0.22, 0.91);
    transition: all 0.36s cubic-bezier(0.17, 0.67, 0.22, 0.91);
    width: 90%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.hero-new:hover {
    text-decoration: none!important
}

.hero-new:hover:after {
    width: 110%
}

.hero--with-promo {
    margin-top: calc(5.3333333333rem + 3.6rem)
}

.websites {
    text-align: center
}

.websites-showcase {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2.4rem
}

@media (min-width:56.25em) {
    .websites-showcase {
        margin-bottom: 4.8rem
    }
}

.websites-showcase>img {
    -webkit-box-shadow: 0 0 4vw rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4vw rgba(0, 0, 0, 0.15);
    min-width: 0
}

@media (max-width:56.1875em) {
    .websites-showcase>img {
        display: none
    }
}

.websites-showcase>img:nth-child(2) {
    display: block;
    margin: 0
}

@media (min-width:37.5em) {
    .websites-showcase>img:nth-child(2) {
        margin: 0 6vw
    }
}

.websites-showcase>img:after {
    background: transparent;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0
}

@media (min-width:37.5em) {
    .websites-cta {
        margin-bottom: 2vw
    }
}

.features-list-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left
}

.features-list-text>section {
    margin-top: 2.4rem
}

@media (min-width:37.5em) {
    .features-list-text>section {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-top: 4.8rem
    }
}

@media (min-width:56.25em) {
    .features-list-text>section {
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%
    }
}

.features-list-text>section>svg {
    fill: none;
}

.features-list-icon+.features-list-text {
    margin-top: calc(4.2666666667rem + 2vw)
}

.features-list-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: calc(2.1333333333rem + 1vw)
}

.features-list-icon>figure {
    border: 1px solid #dbdfe4;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 2.1333333333rem;
    margin: 0.5333333333rem;
    text-align: center
}

@media (min-width:25em) {
    .features-list-icon>figure {
        -ms-flex-preferred-size: 44%;
        flex-basis: 44%
    }
}

@media (min-width:37.5em) {
    .features-list-icon>figure {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%
    }
}

@media (min-width:56.25em) {
    .features-list-icon>figure {
        -ms-flex-preferred-size: 16%;
        flex-basis: 16%
    }
}

.features-list-icon>figure>figcaption {
    color: #343a41;
    font-size: 0.8888888889rem;
    margin-top: 1.0666666667rem
}

.features-list-icon>figure svg {
    vertical-align: middle
}

.editors-links {
    margin: -1rem 0 2rem
}

.editors-links a {
    font-weight: 700;
    margin-right: 3rem;
    padding-right: 0.5rem
}

.editors-links a:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10'%3e%3cline x1='0.5' y1='5' x2='14.58' y2='5' fill='none' stroke='%236a7081' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpolyline points='11.56 0.5 15.5 5 11.56 9.5' fill='none' stroke='%236a7081' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    content: "";
    display: inline-block;
    height: 10px;
    width: 16px;
    position: relative;
    top: -2px;
    left: 6px;
    -webkit-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out
}

.editors-links a:hover:after {
    -webkit-transform: translateX(4px);
    transform: translateX(4px)
}

.testimonials {
    overflow: hidden;
    position: relative
}

.testimonials-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.testimonials-container::-webkit-scrollbar {
    display: none
}

.testimonials-container>blockquote {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 0.8888888889rem;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    -webkit-transition: all 0.46s cubic-bezier(0.17, 0.67, 0.22, 0.91);
    transition: all 0.46s cubic-bezier(0.17, 0.67, 0.22, 0.91);
    width: 18rem
}

.testimonials-container>blockquote:hover {
    -webkit-box-shadow: 0 1px 6px rgba(52, 58, 65, 0.15);
    box-shadow: 0 1px 6px rgba(52, 58, 65, 0.15);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.testimonials-container>blockquote a {
    display: inine-block;
    color: #343a41!important
}

.testimonials-container>blockquote h3 {
    margin: 0;
    font-size: 0.8888888889rem;
    font-weight: 500
}

.testimonials-container>blockquote footer {
    font-size: 0.7901234568rem;
    text-decoration: underline;
    font-style: italic;
    margin-top: 0.8rem
}

.testimonials-container>blockquote footer img {
    border-radius: 50%;
    height: 24px;
    margin-right: 0.5333333333rem;
    width: 24px
}

@media (min-width:56.25em) {
    .sync {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.sync>div {
    width: 100%
}

@media (min-width:56.25em) {
    .sync>div {
        max-width: 41.6rem;
        margin-right: 5.2rem
    }
}

@media (min-width:75em) {
    .sync>div {
        max-width: 36.4rem;
        margin-right: 10.4rem
    }
}

@media (min-width:56.25em) {
    .sync .section-desc {
        margin-bottom: 0
    }
}

.sync-list {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.8rem;
    width: 100%
}

@media (min-width:25em) {
    .sync-list {
        -ms-grid-columns: 1fr 0.8rem 1fr;
        grid-template-columns: repeat(2, 1fr)
    }
}

.sync-list li {
    text-align: center
}

.sync-list li>a {
    border: 1px solid rgba(219, 223, 228, 0.9);
    border-radius: 2px;
    display: block;
    padding: 2.6666666667rem 0
}

@media (min-width:37.5em) {
    .sync-list li>a {
        padding: 2.6666666667rem 0.5333333333rem
    }
}

.sync-list li>a svg {
    fill: #343a41;
    vertical-align: middle;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease
}

@media (max-width:37.4375em) {
    .sync-list li>a svg {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }
}

.sync-list li>a:hover {
    border-color: #42a5f5
}

.sync-list li>a:hover svg {
    fill: #42a5f5
}

.seo {
    overflow: hidden
}

@media (min-width:56.25em) {
    .seo .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.seo-left {
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 36.4rem;
    flex: 0 1 36.4rem;
    position: relative
}

@media (min-width:75em) {
    .seo-left {
        padding-right: 14rem
    }
}

.seo-right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 26rem;
    flex: 1 0 26rem
}

@media (max-width:56.1875em) {
    .seo-right {
        margin-top: 4.2666666667rem
    }
}

@media (min-width:81.25em) {
    .seo-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 36.4rem;
        flex: 0 1 36.4rem
    }
}

.seo-features {
    position: relative
}

@media (min-width:37.5em) {
    .seo-features-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.seo-features-list li {
    margin-bottom: calc(2.1333333333rem + 0.5vw)
}

@media (min-width:56.25em) {
    .seo-features-list li {
        text-align: left
    }
}

@media (min-width:37.5em) and (max-width:56.1875em) {
    .seo-features-list li {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
        flex: 0 1 48%
    }
}

@media (min-width:75em) {
    .seo-features-list li {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
        flex: 0 1 48%
    }
}

.seo-img+.seo-img {
    margin-left: -2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width:37.4375em) {
    .seo-img+.seo-img {
        display: none
    }
}

@media (min-width:56.25em) and (max-width:68.6875em) {
    .seo-img+.seo-img {
        display: none
    }
}

.community-sponsors {
    margin-top: calc(2.1333333333rem + 0.5vw)
}

.community-sponsors h3 {
    font-size: 1.125rem;
    margin: calc(3.2rem + 0.5vw) 0 1.6rem
}

@media screen and (min-width:20rem) {
    .community-sponsors h3 {
        font-size: calc(1.125rem + 0.140625 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .community-sponsors h3 {
        font-size: 1.265625rem
    }
}

.community-sponsors a {
    border: 1px solid #dbdfe4;
    border-radius: 6px;
    display: inline-block;
    font-weight: 600;
    margin: 0 0.5rem;
    padding: 0.2666666667rem 0;
    text-align: center
}

.community-sponsors a span {
    border-top: 1px solid #dbdfe4;
    padding: 0.5333333333rem 0.8rem
}

.community-sponsors a:hover {
    color: #343a41;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08)
}

.community-sponsors img {
    display: block;
    height: 3rem;
    margin: 0 auto 0.5333333333rem;
    width: 3rem
}

.community .section-desc {
    margin-bottom: calc(1.6rem + 0.5vw)
}

@media (min-width:37.5em) {
    .community .btn+.btn,
    .community .btn+[type=button],
    .community .btn+[type=submit],
    .community .btn+button,
    .community [type=button]+.btn,
    .community [type=button]+[type=button],
    .community [type=button]+[type=submit],
    .community [type=button]+button,
    .community [type=submit]+.btn,
    .community [type=submit]+[type=button],
    .community [type=submit]+[type=submit],
    .community [type=submit]+button,
    .community button+.btn,
    .community button+[type=button],
    .community button+[type=submit],
    .community button+button {
        margin-left: 0.5333333333rem
    }
}

@media (min-width:56.25em) {
    .themes .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.themes .inner>div {
    width: 100%
}

@media (min-width:56.25em) {
    .themes .inner>div {
        max-width: 31.2rem;
        margin-right: 5.2rem
    }
}

@media (min-width:75em) {
    .themes .inner>div {
        max-width: 31.2rem;
        margin-right: 10.4rem
    }
}

.themes-list {
    margin-top: 3.2rem
}

.themes-list>li {
    margin-bottom: calc(2.1333333333rem + 0.5vw)
}

.themes-img {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

@media (max-width:56.1875em) {
    .themes-img {
        margin-top: 3.2rem
    }
}

@media (min-width:56.25em) {
    .themes .section-desc {
        margin-bottom: 0
    }
}

.technology {
    border-top: 1px solid #dbdfe4
}

@media (max-width:56.1875em) {
    .technology {
        padding: 1.8666666667rem 2rem
    }
}

@media (min-width:56.25em) {
    .technology {
        padding: calc(2.6666666667rem + 1vw) 2rem
    }
}

.technology h2 {
    color: #6a7081;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 1.6rem 0;
    text-align: center
}

.technology-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.technology-list>li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%
}

.technology-list>li:first-child {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
}

@media (max-width:56.1875em) {
    .technology-list>li:first-child {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

.faq .inner {
    max-width: 62.4rem
}

.cookie-popup {
    background: #fff;
    border-radius: 2px;
    bottom: 1rem;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    left: 16px;
    right: 16px;
    max-width: 600px;
    padding: 2rem;
    position: fixed;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    will-change: transform;
    z-index: 1000
}

.cookie-popup--uses-badge {
    background: #FFC439;
    border-radius: 6px 6px 0 0;
    bottom: 0.6rem;
    height: 2rem;
    padding: 0;
    -webkit-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out;
    width: 11.4rem;
}

.cookie-popup.cookie-popup--uses-badge.cookie-popup--uses-link:hover,
.cookie-popup.cookie-popup--uses-badge:hover {
    bottom: 2rem
}

.cookie-popup.cookie-popup--uses-badge.cookie-popup--uses-link.cookie-popup--is-sticky {
    bottom: 0.6rem
}

.cookie-popup--uses-badge>form,
.cookie-popup--uses-badge>h2,
.cookie-popup--uses-badge>p {
    display: none
}

.cookie-popup--is-sticky {
    border-radius: 2px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 0.8s ease 0s;
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s
}

.cookie-popup--uses-badge.cookie-popup--is-sticky {
    background: #ffffff;
    bottom: 1rem;
    height: auto;
    padding: 2rem;
    width: 100%
}

@media (max-width:600px) {
    .cookie-popup--uses-badge.cookie-popup--is-sticky {
        bottom: 0!important;
        left: 0;
        right: 0
    }
}

@media (min-width:600px) {
    .cookie-popup--uses-badge.cookie-popup--is-sticky:hover {
        bottom: 1rem
    }
}

.cookie-popup--uses-badge.cookie-popup--is-sticky>form,
.cookie-popup--uses-badge.cookie-popup--is-sticky>h2,
.cookie-popup--uses-badge.cookie-popup--is-sticky>p {
    display: block
}

.cookie-popup.cookie-popup--uses-link {
    background: #fff;
    bottom: 0
}

.cookie-popup.cookie-popup--uses-badge.cookie-popup--uses-link {
    background: #FFC439;
    bottom: 0.6rem
}

.cookie-popup.cookie-popup--uses-badge.cookie-popup--uses-link.cookie-popup--is-sticky {
    background: #fff
}

.cookie-popup--is-sticky.cookie-popup--uses-link {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem)
}

.cookie-popup>h2 {
    font-size: 20px;
    margin: 0
}

.cookie-popup>p {
    margin: 1rem 0 0
}

.cookie-popup input[type=checkbox]+label {
    margin-right: 0.53333rem;
    white-space: nowrap
}

.cookie-popup input[type=checkbox]+label:before {
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-right: 0.26667rem
}

.cookie-popup input[type=checkbox]:disabled+label:before {
    content: "";
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23999999'/%3e%3c/svg%3e")
}

.cookie-popup__save {
    background: #42a5f5;
    border: none!important;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff!important;
    font-size: 13px;
    padding: 0.666rem 1.2rem
}

.cookie-popup>form,
.cookie-popup__save-wrapper {
    margin-top: 1.06667rem
}

.cookie-popup__save:active,
.cookie-popup__save:hover {
    opacity: 0.85
}

.cookie-popup-label {
    color: #fff;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap
}

.cookie-popup--is-sticky .cookie-popup-label {
    display: none
}

img[loading] {
    opacity: 0
}

img.is-loaded {
    opacity: 1;
    -webkit-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.accordion {
    text-align: left
}

.accordion__readmore {
    display: block;
    padding: 0.5333333333rem;
    margin: 0.5333333333rem -0.5333333333rem -1.3333333333rem
}

.accordion__readmore:after {
    background: transparent;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.accordion__readmore svg {
    fill: var(--secondary-color)
}

.accordion>h3,
.accordion>section>h3 {
    border-bottom: 1px solid #dbdfe4;
    border-radius: var(--border-radius);
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    padding: 1.3333333333rem 0.5333333333rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.265625rem
}

@media screen and (min-width:20rem) {
    .accordion>h3,
    .accordion>section>h3 {
        font-size: calc(1.265625rem + 0.3361816406 * ((100vw - 20rem) / 113))
    }
}

@media screen and (min-width:133rem) {
    .accordion>h3,
    .accordion>section>h3 {
        font-size: 1.6018066406rem
    }
}

.accordion>h3:after,
.accordion>section>h3:after {
    content: "+";
    color: var(--primary-color);
    font-weight: var(--font-weight-normal);
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.accordion>h3:hover,
.accordion>section>h3:hover {
    background-color: var(--lighter);
    padding-left: 1.0666666667rem
}

.accordion>h3.is-open,
.accordion>section>h3.is-open {
    background-color: var(--white);
    border-radius: var(--border-radius) var(--border-radius) 0 0
}

.accordion>h3.is-open:after,
.accordion>section>h3.is-open:after {
    content: "-"
}

.accordion>h3.icon,
.accordion>section>h3.icon {
    background-repeat: no-repeat;
    background-position: 1.8666666667rem 50%;
    background-size: 20px;
    padding-left: 4.2666666667rem
}

.accordion>h3.icon:hover,
.accordion>section>h3.icon:hover {
    padding-left: 4.8rem
}

.accordion>p,
.accordion>section>p {
    background-color: var(--lighter);
    border: 1px solid var(--light);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    height: 0;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.accordion p.is-open {
    opacity: 1
}

.accordion p>.accordion-content-wrapper {
    padding: 1.8666666667rem 0.2666666667rem
}

.accordion p>.accordion-content-wrapper>:first-child {
    margin-top: 0
}

.accordion .is-sticky .accordion__readmore {
    display: block;
    padding: 0.5333333333rem;
    margin: 0.2666666667rem -0.5333333333rem -1.3333333333rem
}

.accordion .is-sticky>h3,
.accordion .is-sticky>section>h3 {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23818795' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-paperclip'%3e%3cpath d='M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48'%3e%3c/path%3e%3c/svg%3e");
    background-color: rgba(var(--secondary-color-rgb), 0.02);
    border-color: rgba(var(--secondary-color-rgb), 0.25);
    color: var(--secondary-color)
}

.accordion .is-sticky>h3:after,
.accordion .is-sticky>section>h3:after {
    color: inherit
}

.accordion .is-sticky>h3:hover,
.accordion .is-sticky>section>h3:hover {
    background-color: inherit;
    color: var(--secondary-color)
}

.accordion .is-sticky>div,
.accordion .is-sticky>section>div {
    background-color: rgba(var(--secondary-color-rgb), 0.02);
    border-color: rgba(var(--secondary-color-rgb), 0.25)
}

@media (min-width:37.5em) {
    .pagination>a {
        margin: 0 0.5333333333rem 0 0
    }
}

.footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #dbdfe4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 0.8888888889rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2.6666666667rem 2rem;
    position: sticky;
    top: 100%
}

.footer.no-separator {
    border-top: none
}

.footer>div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center
}

@media (max-width:74.9375em) {
    .footer>div {
        width: 100%
    }
}

@media (min-width:75em) {
    .footer>div {
        line-height: 1
    }
}

.footer>div:first-child {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer-logo {
    margin-right: 3.2rem
}

@media (max-width:37.4375em) {
    .footer-logo {
        margin: 0 auto 1.6rem;
        width: 100%
    }
}

.footer-logo>svg {
    fill: #6a7081;
    max-height: 1.586rem;
    max-width: 4.038rem
}

.footer-nav {
    margin: 0 auto
}

@media (min-width:37.5em) {
    .footer-nav {
        margin: 0
    }
}

.footer-nav li {
    display: inline-block;
    margin: 0 1.3333333333rem 0 0;
    padding: 0
}

.footer-nav li:last-child {
    margin: 0
}

@media (max-width:74.9375em) {
    .footer-copy {
        border-top: 1px solid #dbdfe4;
        margin: 2.4rem 0 1.6rem;
        padding-top: 2.4rem;
        width: 100%
    }
}

@media (max-width:74.9375em) {
    .footer-social {
        width: 100%
    }
}

@media (min-width:75em) {
    .footer-social {
        margin-left: 1.6rem
    }
}

.footer-social a>svg {
    display: inline-block;
    fill: #6a7081;
    height: 1rem;
    margin: 0 0 0 0.8rem;
    pointer-events: none;
    -webkit-transition: all 0.12s linear 0s;
    transition: all 0.12s linear 0s;
    width: 1rem
}

.footer-social a:hover {
    text-decoration: none
}

.facebook:hover>svg {
    fill: #3b5998
}

.twitter:hover>svg {
    fill: #1da1f2
}

.instagram:hover>svg {
    fill: #c32aa3
}

.pinterest:hover>svg {
    fill: #bd081c
}

.newsletter {
    background: rgba(255, 196, 57, 0.15);
    border: 2px solid rgba(255, 196, 57, 0.4);
    display: block;
    font-size: 0.8888888889rem;
    margin-top: calc(1.8666666667rem + 0.5vw);
    padding: 2.6666666667rem
}

@media (min-width:37.5em) {
    .newsletter form {
        font-size: 90%
    }
}

.newsletter svg {
    fill: #FFC439;
    margin-right: 0.2666666667rem
}

.newsletter h3 {
    margin: 0
}

.newsletter a {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink
}

.newsletter p {
    margin: 0.5333333333rem 0 1.0666666667rem
}

.newsletter input[type=email],
.newsletter input[type=text] {
    border-color: rgba(255, 196, 57, 0.5);
    margin-top: 0.5333333333rem;
    width: 100%
}

.newsletter input[type=email]:focus,
.newsletter input[type=text]:focus {
    -webkit-box-shadow: inset 0 0 2px #FFC439;
    box-shadow: inset 0 0 2px #FFC439
}

.newsletter input[type=checkbox]+label:before,
.newsletter input[type=radio]+label:before {
    border-color: rgba(255, 196, 57, 0.5)
}

.newsletter input[type=checkbox]:checked+label:before,
.newsletter input[type=radio]:checked+label:before {
    -webkit-box-shadow: inset 0 0 2px #FFC439;
    box-shadow: inset 0 0 2px #FFC439
}

.newsletter input[type=submit] {
    font-size: 1.125rem;
    width: 100%
}

.newsletter-agree {
    margin: 1.0666666667rem 0 0;
    text-align: left
}

.newsletter-agree li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0
}

.newsletter-agree li label {
    font-weight: 400;
    margin-left: 2.1rem;
    margin-right: 0
}

.newsletter-agree li label:before {
    margin-left: -2.1rem
}


/* criado pelo Marcos */

.hero-desc-bold {
    font-weight: bold;
    font-size: 2.6vh;
    /* padding: 6px 0px 20px 0px; */
    margin: 0px;
}

.fast-link {
    padding: 40px 0px;
}

.hero-desc-line {
    display: flex;
    justify-content: center;
    height: 30px;
    gap: 10px;
}

.icon-fast {
    display: flex;
    align-items: center;
}

.terms-text {
    padding: 30px 0px 20px;
    display: flex;
    justify-content: center;
}

.hero-version {
    color: rgba(255, 255, 255, 0.75)!important;
    margin: 0px;
    padding: 0px;
    /* height: 20px; */
    line-height: normal;
    width: 38vh;
}

.hero-desc {
    max-width: 55ch;
}

.btn-gratis {
    font-size: 1.79999vh;
}

.logo-img {
    height: 36px;
    max-width: 100%;
    vertical-align: top;
}

.websites-showcase>img {
    -webkit-box-shadow: 0 0 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 0 rgb(0 0 0 / 15%);
    min-width: 0;
}

.img-pdg {
    padding: 0px 28px;
}

.img-arrow {
    height: 50px;
}

.icon-lrg {
    width: 64px;
    height: 64px;
    color: #0d6efd;
    stroke-width: 1px;
}

.buy-button {
    padding-top: 60px;
}

.bg-blue {
    background-color: #1a83e4;
}

.textemonial-txt-t {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.testemunial-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testemunial-img-cicle {
    border-radius: 40px;
    height: 70px;
    width: 70px;
}